// Button open menu

.btn-open-menu {
  position: relative;
  top: 8px;
  width: 24px;
  height: 4px;
  background: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  &::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    width: 24px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
  }
  &::after {
    content: "";
    position: absolute;
    top: -16px;
    right: 0;
    width: 16px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
  }
}
// Button close menu

.btn-close-menu {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 11px;
    left: -5px;
    width: 33px;
    height: 2px;
    background: #ffffff;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

// Buy now

.header {
  &__btn {
    font-weight: 700;
    color: #ffffff;
    background-color: #8d81ac;
    text-decoration: none;
    border-radius: 40px;
    @include flex;
    &--small {
      width: 120px;
      height: 38px;
      font-size: 15px;
      line-height: 15px;
    }
    &--large {
      position: absolute;
      width: 290px;
      height: 45px;
      font-size: 15px;
      line-height: 15px;
    }
  }
}

@media (min-width: 481px) {
  .header {
    &__btn {
      &--small {
        width: 145px;
        font-size: 16px;
        line-height: 16px;
      }
      &--large {
        width: 390px;
        height: 62px;
        font-size: 21px;
        line-height: 23px;
      }
      &:hover {
        color: #8d81ac;
        background-color: #ffffff;
        border: 1px solid #8d81ac;
      }
    }
  }
}
