.description {
  text-align: center;
  padding-top: 122px;
  padding-bottom: 88px;
  @media (min-width: 481px) {
    padding-top: 156px;
    padding-bottom: 98px;
    max-width: 690px;
    &__title {
      font-size: 42px;
    }
    &__content {
      font-size: 21px;
      line-height: 32px;
    }
  }
  @media (min-width: 992px) {
    padding-top: 130px;
    padding-bottom: 70px;
    max-width: 906px;
    &__title {
      font-size: 54px;
    }
  }

  &__title {
    margin-bottom: 26px;
    color: #635c73;
  }

  &__content {
    font-family: 'Lato';
    line-height: 20px;
    color: #323232;
  }

  &__statistics {
    margin-top: 36px;
    display: flex;
    gap: 16px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__statistics-item {
    display: flex;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    overflow: hidden;
  }

  &__statistics-item-button {
    font-size: 14px;
    display: inline-flex;
    background-color: #f1f1f1;
    text-decoration: none;
    color: #323232;
    font-weight: 700;
    padding: 4px 9px;
    border-right: 1px solid rgb(168, 168, 168);
    svg {
      margin-right: 4px;
    }
  }

  &__statistics-item-number {
    font-size: 14px;
    padding: 4px 9px;
  }
}
