body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.section__title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  color: #ffffff;
}
